<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <rewrite>
      <rules>

        <!-- Old WordPress blog post URLs (no /blog/ prefix) -> new /blog/ URLs -->
        <rule name="Blog redirect - a-day-in-the-life-of-a-student" stopProcessing="true">
          <match url="^a-day-in-the-life-of-a-student/?$" />
          <action type="Redirect" url="/blog/a-day-in-the-life-of-a-student/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - benefits-of-choosing-our-homestay-accommodation" stopProcessing="true">
          <match url="^benefits-of-choosing-our-homestay-accommodation/?$" />
          <action type="Redirect" url="/blog/benefits-of-choosing-our-homestay-accommodation/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - bournemouth-airport-destinations" stopProcessing="true">
          <match url="^bournemouth-airport-destinations/?$" />
          <action type="Redirect" url="/blog/bournemouth-airport-destinations/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - cambridge-exams-are-they-right-for-you" stopProcessing="true">
          <match url="^cambridge-exams-are-they-right-for-you/?$" />
          <action type="Redirect" url="/blog/cambridge-exams-are-they-right-for-you/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - discover-the-wildlife-of-southbourne" stopProcessing="true">
          <match url="^discover-the-wildlife-of-southbourne/?$" />
          <action type="Redirect" url="/blog/discover-the-wildlife-of-southbourne/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - exploring-bournemouth-a-guide-for-international-students" stopProcessing="true">
          <match url="^exploring-bournemouth-a-guide-for-international-students/?$" />
          <action type="Redirect" url="/blog/exploring-bournemouth-a-guide-for-international-students/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - ialc-we-are-now-a-member" stopProcessing="true">
          <match url="^ialc-we-are-now-a-member/?$" />
          <action type="Redirect" url="/blog/ialc-we-are-now-a-member/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - ielts-academic-or-ielts-general" stopProcessing="true">
          <match url="^ielts-academic-or-ielts-general/?$" />
          <action type="Redirect" url="/blog/ielts-academic-or-ielts-general/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - our-new-school-brochure-for-2024" stopProcessing="true">
          <match url="^our-new-school-brochure-for-2024/?$" />
          <action type="Redirect" url="/blog/our-new-school-brochure-for-2024/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - top-10-restaurants-in-southbourne" stopProcessing="true">
          <match url="^top-10-restaurants-in-southbourne/?$" />
          <action type="Redirect" url="/blog/top-10-restaurants-in-southbourne/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - top-10-things-to-do-in-bournemouth" stopProcessing="true">
          <match url="^top-10-things-to-do-in-bournemouth/?$" />
          <action type="Redirect" url="/blog/top-10-things-to-do-in-bournemouth/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - where-to-eat-in-southbourne" stopProcessing="true">
          <match url="^where-to-eat-in-southbourne/?$" />
          <action type="Redirect" url="/blog/where-to-eat-in-southbourne/" redirectType="Permanent" />
        </rule>

        <!-- Legacy WordPress URLs (pre-2024 restructure) -> current new-site pages -->
        <rule name="Legacy redirect - about-our-school" stopProcessing="true">
          <match url="^about\-our\-school/?$" />
          <action type="Redirect" url="/about/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-accreditation" stopProcessing="true">
          <match url="^about\-our\-school/accreditation/?$" />
          <action type="Redirect" url="/about/testimonials-accreditations/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-join-our-team" stopProcessing="true">
          <match url="^about\-our\-school/join\-our\-team/?$" />
          <action type="Redirect" url="/about/join-our-team/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-join-our-team-main-school" stopProcessing="true">
          <match url="^about\-our\-school/join\-our\-team/main\-school/?$" />
          <action type="Redirect" url="/about/join-our-team/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-join-our-team-residential-centre" stopProcessing="true">
          <match url="^about\-our\-school/join\-our\-team/residential\-centre/?$" />
          <action type="Redirect" url="/about/join-our-team/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-latest-news" stopProcessing="true">
          <match url="^about\-our\-school/latest\-news/?$" />
          <action type="Redirect" url="/blog/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-our-team" stopProcessing="true">
          <match url="^about\-our\-school/our\-team/?$" />
          <action type="Redirect" url="/about/our-team/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-school-facilities" stopProcessing="true">
          <match url="^about\-our\-school/school\-facilities/?$" />
          <action type="Redirect" url="/about/school-facilities/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-school-policies-useful-information" stopProcessing="true">
          <match url="^about\-our\-school/school\-policies\-useful\-information/?$" />
          <action type="Redirect" url="/about/school-policies/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-school-video-and-gallery" stopProcessing="true">
          <match url="^about\-our\-school/video\-and\-gallery/?$" />
          <action type="Redirect" url="/about/gallery/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - about-our-team-join-our-team" stopProcessing="true">
          <match url="^about/our\-team/join\-our\-team/?$" />
          <action type="Redirect" url="/about/join-our-team/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - blog-visit-bournemouth-never-dull-moment" stopProcessing="true">
          <match url="^blog/visit\-bournemouth\-never\-dull\-moment/?$" />
          <action type="Redirect" url="/blog/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - book-pay-course" stopProcessing="true">
          <match url="^book\-pay\-course/?$" />
          <action type="Redirect" url="/english-courses/how-to-book-your-english-course/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-adult-courses-examination-courses" stopProcessing="true">
          <match url="^english\-courses/adult\-courses/examination\-courses/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/cambridge-examination-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-adult-courses-intensive-course-plus" stopProcessing="true">
          <match url="^english\-courses/adult\-courses/intensive\-course\-plus/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/one-to-one-english/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-adult-courses-regular-courses-general-intensive" stopProcessing="true">
          <match url="^english\-courses/adult\-courses/regular\-courses\-general\-intensive/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/general-intensive/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-adult-courses-summer-vacation" stopProcessing="true">
          <match url="^english\-courses/adult\-courses/summer\-vacation/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/summer-vacation-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-adult-language-courses-general-intensive-plus" stopProcessing="true">
          <match url="^english\-courses/adult\-language\-courses/general\-intensive\-plus/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/one-to-one-english/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-faq" stopProcessing="true">
          <match url="^english\-courses/faq/?$" />
          <action type="Redirect" url="/about/faqs/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-junior-courses-bournemouth-collegiate-school" stopProcessing="true">
          <match url="^english\-courses/junior\-courses/bournemouth\-collegiate\-school/?$" />
          <action type="Redirect" url="/english-courses/junior-language-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-junior-courses-junior-closed-groups" stopProcessing="true">
          <match url="^english\-courses/junior\-courses/junior\-closed\-groups/?$" />
          <action type="Redirect" url="/english-courses/junior-language-courses/year-round-group-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-starting-at-southbourne-school" stopProcessing="true">
          <match url="^english\-courses/starting\-at\-southbourne\-school/?$" />
          <action type="Redirect" url="/english-courses/guide-to-levels/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - english-courses-starting-at-southbourne-school-guide-to-levels" stopProcessing="true">
          <match url="^english\-courses/starting\-at\-southbourne\-school/guide\-to\-levels/?$" />
          <action type="Redirect" url="/english-courses/guide-to-levels/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses" stopProcessing="true">
          <match url="^language\-courses/?$" />
          <action type="Redirect" url="/english-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-adult-language-courses-examination-courses" stopProcessing="true">
          <match url="^language\-courses/adult\-language\-courses/examination\-courses/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/cambridge-examination-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-adult-language-courses-general-intensive-plus" stopProcessing="true">
          <match url="^language\-courses/adult\-language\-courses/general\-intensive\-plus/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/one-to-one-english/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-adult-language-courses-general-intensive" stopProcessing="true">
          <match url="^language\-courses/adult\-language\-courses/general\-intensive/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/general-intensive/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-adult-language-courses-intensive-course-plus" stopProcessing="true">
          <match url="^language\-courses/adult\-language\-courses/intensive\-course\-plus/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/one-to-one-english/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-adult-language-courses-summer-vacation-courses" stopProcessing="true">
          <match url="^language\-courses/adult\-language\-courses/summer\-vacation\-courses/?$" />
          <action type="Redirect" url="/english-courses/adult-language-courses/summer-vacation-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-how-to-book-your-course" stopProcessing="true">
          <match url="^language\-courses/how\-to\-book\-your\-course/?$" />
          <action type="Redirect" url="/english-courses/how-to-book-your-english-course/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-junior-language-courses-spring-course" stopProcessing="true">
          <match url="^language\-courses/junior\-language\-courses/spring\-course/?$" />
          <action type="Redirect" url="/english-courses/junior-language-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-junior-language-courses-summer-courses" stopProcessing="true">
          <match url="^language\-courses/junior\-language\-courses/summer\-courses/?$" />
          <action type="Redirect" url="/english-courses/junior-language-courses/summer-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - language-courses-junior-language-courses-year-round-group-courses" stopProcessing="true">
          <match url="^language\-courses/junior\-language\-courses/year\-round\-group\-courses/?$" />
          <action type="Redirect" url="/english-courses/junior-language-courses/year-round-group-courses/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne" stopProcessing="true">
          <match url="^living\-in\-southbourne/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-accommodation-and-welfare" stopProcessing="true">
          <match url="^living\-in\-southbourne/accommodation\-and\-welfare/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/accommodation-welfare/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-accommodation-and-welfare-become-a-host-family" stopProcessing="true">
          <match url="^living\-in\-southbourne/accommodation\-and\-welfare/become\-a\-host\-family/?$" />
          <action type="Redirect" url="/hosting-students/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-accommodation-and-welfare-guest-houses-and-hotels" stopProcessing="true">
          <match url="^living\-in\-southbourne/accommodation\-and\-welfare/guest\-houses\-and\-hotels/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/accommodation-welfare/guesthouses-hotels/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-accommodation-and-welfare-host-families" stopProcessing="true">
          <match url="^living\-in\-southbourne/accommodation\-and\-welfare/host\-families/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/accommodation-welfare/homestay/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-activities-at-southbourne" stopProcessing="true">
          <match url="^living\-in\-southbourne/activities\-at\-southbourne/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/school-activities/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-how-to-reach-us" stopProcessing="true">
          <match url="^living\-in\-southbourne/how\-to\-reach\-us/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/our-location/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - living-in-southbourne-travelling-to-britain" stopProcessing="true">
          <match url="^living\-in\-southbourne/travelling\-to\-britain/?$" />
          <action type="Redirect" url="/studying-in-bournemouth/travelling-to-britain/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - news" stopProcessing="true">
          <match url="^news/?$" />
          <action type="Redirect" url="/blog/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - news-gallery" stopProcessing="true">
          <match url="^news/gallery/?$" />
          <action type="Redirect" url="/about/gallery/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - oferta-especial" stopProcessing="true">
          <match url="^oferta\-especial/?$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - online-enquiry-form" stopProcessing="true">
          <match url="^online\-enquiry\-form/?$" />
          <action type="Redirect" url="/english-courses/how-to-book-your-english-course/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - special-offer" stopProcessing="true">
          <match url="^special\-offer/?$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Legacy redirect - testimonials" stopProcessing="true">
          <match url="^testimonials/?$" />
          <action type="Redirect" url="/about/testimonials-accreditations/" redirectType="Permanent" />
        </rule>

        <!-- WordPress category/tag archive pages don't exist on the new site -->
        <rule name="Category archives to blog" stopProcessing="true">
          <match url="^category/.*" />
          <action type="Redirect" url="/blog/" redirectType="Permanent" />
        </rule>
        <rule name="Tag archives to blog" stopProcessing="true">
          <match url="^tag/.*" />
          <action type="Redirect" url="/blog/" redirectType="Permanent" />
        </rule>

        <!-- www -> non-www (canonical is non-www; scoped to the live domain only, -->
        <!-- so this never fires on the Fasthosts test/preview URL)               -->
        <rule name="Redirect www to non-www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.southbourneschool\.co\.uk$" />
          </conditions>
          <action type="Redirect" url="https://southbourneschool.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Force HTTPS on the live domain only (won't affect the test URL, -->
        <!-- which may not have a certificate applied yet)                   -->
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?southbourneschool\.co\.uk$" />
          </conditions>
          <action type="Redirect" url="https://southbourneschool.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
