<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <rewrite>
      <rules>

        <!-- Old WordPress blog post URLs (no /blog/ prefix) -> new /blog/ URLs -->
        <rule name="Blog redirect - a-day-in-the-life-of-a-student" stopProcessing="true">
          <match url="^a-day-in-the-life-of-a-student/?$" />
          <action type="Redirect" url="/blog/a-day-in-the-life-of-a-student/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - benefits-of-choosing-our-homestay-accommodation" stopProcessing="true">
          <match url="^benefits-of-choosing-our-homestay-accommodation/?$" />
          <action type="Redirect" url="/blog/benefits-of-choosing-our-homestay-accommodation/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - bournemouth-airport-destinations" stopProcessing="true">
          <match url="^bournemouth-airport-destinations/?$" />
          <action type="Redirect" url="/blog/bournemouth-airport-destinations/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - cambridge-exams-are-they-right-for-you" stopProcessing="true">
          <match url="^cambridge-exams-are-they-right-for-you/?$" />
          <action type="Redirect" url="/blog/cambridge-exams-are-they-right-for-you/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - discover-the-wildlife-of-southbourne" stopProcessing="true">
          <match url="^discover-the-wildlife-of-southbourne/?$" />
          <action type="Redirect" url="/blog/discover-the-wildlife-of-southbourne/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - exploring-bournemouth-a-guide-for-international-students" stopProcessing="true">
          <match url="^exploring-bournemouth-a-guide-for-international-students/?$" />
          <action type="Redirect" url="/blog/exploring-bournemouth-a-guide-for-international-students/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - ialc-we-are-now-a-member" stopProcessing="true">
          <match url="^ialc-we-are-now-a-member/?$" />
          <action type="Redirect" url="/blog/ialc-we-are-now-a-member/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - ielts-academic-or-ielts-general" stopProcessing="true">
          <match url="^ielts-academic-or-ielts-general/?$" />
          <action type="Redirect" url="/blog/ielts-academic-or-ielts-general/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - our-new-school-brochure-for-2024" stopProcessing="true">
          <match url="^our-new-school-brochure-for-2024/?$" />
          <action type="Redirect" url="/blog/our-new-school-brochure-for-2024/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - top-10-restaurants-in-southbourne" stopProcessing="true">
          <match url="^top-10-restaurants-in-southbourne/?$" />
          <action type="Redirect" url="/blog/top-10-restaurants-in-southbourne/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - top-10-things-to-do-in-bournemouth" stopProcessing="true">
          <match url="^top-10-things-to-do-in-bournemouth/?$" />
          <action type="Redirect" url="/blog/top-10-things-to-do-in-bournemouth/" redirectType="Permanent" />
        </rule>
        <rule name="Blog redirect - where-to-eat-in-southbourne" stopProcessing="true">
          <match url="^where-to-eat-in-southbourne/?$" />
          <action type="Redirect" url="/blog/where-to-eat-in-southbourne/" redirectType="Permanent" />
        </rule>

        <!-- www -> non-www (canonical is non-www; scoped to the live domain only, -->
        <!-- so this never fires on the Fasthosts test/preview URL)               -->
        <rule name="Redirect www to non-www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.southbourneschool\.co\.uk$" />
          </conditions>
          <action type="Redirect" url="https://southbourneschool.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Force HTTPS on the live domain only (won't affect the test URL, -->
        <!-- which may not have a certificate applied yet)                   -->
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?southbourneschool\.co\.uk$" />
          </conditions>
          <action type="Redirect" url="https://southbourneschool.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
